@page

<script>

    function get() {
        var strUrl = "/Home/getEmployees?id=" + $("#id_employee").val();
        $("#result").load(strUrl);
    }
</script>

<div class="row" style="height:10px"></div>
<div class="row">
    <div class="col-md-1">Id:</div>
    <div class="col-md-2">@Html.TextBox("id_employee")</div>
    <div class="col-md-9">
        <input id="btn_form_employees" type="button" value="Get" class="btn btn-primary form_employees_btnSave" onclick="get();">
    </div>
</div>
<div class="row" style="height:10px"></div>
<div id="result"></div>
